.form-input {
  display: block;
  background-color: $dark;
  border: 1px solid lighten($dark, 7);
  padding: 12px 18px;
  min-width: 280px;
  color: #fff;
  font-size: 15px;
  transition: border .25s ease-in;
  &:focus{
    border: 1px solid lighten($dark, 20);
  }
}