body, html {
  height: 100%;
}

.home-header {
  background: $deep;
  height: 100%;
  color: #fff;
  padding-top: $size;
  @include media-breakpoint-down(md){
    padding-top: $size-sm;
  }
}
.top-line {
  position: absolute;
  width: 100%;
  height: $size;
  top: 0;
  border-bottom: 1px solid rgba(#fff, $border-opacity);
  z-index: 10;
  background: $deep;
  display: flex;
  align-items: center;
  @include media-breakpoint-down(md){
    height: $size-sm;
  }
}
.logo {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .5em;
  text-decoration: none;
  &:hover, &:focus {
    color: #fff; 
  }
  @include media-breakpoint-down(md){
    flex: 1 0 0;
  }
}
.logo__text{
  @include media-breakpoint-down(md){
    display: none;
  }
}
.logo-img__wrapper {
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down(md){
    height: $size-sm;
    width: $size-sm;
  }
}
.top-line__decoration {
  flex: 1 0 0;
  text-align: center;
  &::before {
    content: "";
    height: 1px;
    width: 50px;
    background-color: #fff;
    display: inline-block;
    opacity: $border-opacity*1.5;
    position: relative;
    top: -5px;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .top-line__separator, .top-line__address{
    display: none;
  }
}

.top-line__contacts {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .4em;
  color: rgba(#fff, .5);
  display: flex;
  align-items: center;
}
.top-line__separator {
  width: 1px;
  height: 30px;
  background-color: rgba(#fff, $border-opacity*2);
  margin: 0 20px; 
}
.top-line__numbers, 
.top-line__text {
  font-family: roboto-vh, sans-serif;
  margin-left: 6px;
  a {
    color: $accent;
  }
}
.top-line__numbers {
  color: $accent;
}
.top-line__text {
  color: rgba(#fff, .75)
}
.menu-button__container {
  flex: 0 0 200px;
  text-align: right;
  position: relative;
  height: $size;
  @include media-breakpoint-down(md){
    height: $size-sm;
  }
  @include media-breakpoint-down(md){
    flex: 1 0 0;
  }
}
.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: $size;
  height: $size;
  background-color: #3C3C3C;
  background-image: url(../images/dist/bars-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background-color: $accent;
    transition: background .25s ease-out;
  }
  @include media-breakpoint-down(md){
    height: $size-sm;
    width: $size-sm;
  }
}

// ASIDE
.home-header__content {
  height: 100%;
}
.home-aside {
  background-color: $dark;
  width: $size;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: $size;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  @include media-breakpoint-down(md){
    padding-top: $size-sm;
    width: $size-sm;
  }
}
.home-aside__decoration {
  flex: 1 0 0;
  background-image: url(../images/dist/decoration.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  @include media-breakpoint-down(md){
    display: none;
  }
}             
.home-aside__soc {
  flex: 1 0 0; 
  @include media-breakpoint-down(md){
    margin-top: 40px;
  }
}
.home-aside_share-icon {
  background-color: $accent;
  width: $size;
  flex: 0 0 $size;
  background-image: url(../images/dist/share-solid.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  @include media-breakpoint-down(md){
    flex: 0 0 $size-sm;
    width: $size-sm;
  }
}
.soc-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(#fff, $border-opacity);
  margin-top: -1px;
  border-bottom: 1px solid transparent;
  transition: background .5s ease-out;
  &:last-child {
    border-bottom: 1px solid rgba(#fff, $border-opacity);
  }
  img {
    width: 15px;
    height: auto;
    max-height: 15px;
    opacity: .3;    
    transition: opacity .5s ease-out;
  }
  &:hover{
    background-color: $accent;
    img{
      opacity: 1;
    }
  }   
}

//SLIDER

.slider-container {
  padding-left: $size;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  @include media-breakpoint-down(md){
    padding-left: $size-sm;
  }
}
.slider-bottom {
  position: absolute;
  bottom: 0;
  height: $size;
  display: flex;
  align-items: center;
  left: $size;
  z-index: 5;
  width: calc(75% - #{$size});
  @include media-breakpoint-down(md){
    height: $size-sm;
    left: $size-sm;
    width: calc(75% - #{$size-sm}); 
    width: 100%;
  }
}
.slider-share {
  flex: 0 1 auto;
}
.slider-share__items {
  display: flex;
  position: relative;
  bottom: -.5px;
}
.slider-share__item {
  width: $size;
  height: $size;
  border: none;
  background-color: $dark;
  border-right: 1px solid rgba(#fff, $border-opacity);
  margin-left: -.5px;
  &:last-child{
    border: none;
    &::after {
      content: "";
      position: absolute;
      top: -.5;
      right: 0;
      width: 3px;
      height: 100%;
      background-color: $accent;
    }
  }
  @include media-breakpoint-down(md){
    height: $size-sm;
    width: $size-sm;
  }
}
.slider-scrollbar {
  flex: 1 0 0;
  .swiper-scrollbar {
    height: 1px;
    background-color: rgba(#fff, .2 );
  }
  .swiper-scrollbar-drag {
    height: 4px;
    background-color: $accent;
    top: -1px;    
    cursor: pointer;
  }
  @include media-breakpoint-down(md){
    display: none;
  }
}

.slider-navigation__container{
  max-width: 85px;
  position: relative;
  margin: auto;
}
.slider-navigation {
  flex: 0 0 140px;
  position: relative;
  left: 15px;
  .swiper-button-prev, .swiper-button-next {
    width: 32px;
    height: 32px;
    color: $accent;
    background-color: #3c3c3c;
    border-radius: 100%;
    border: 2px solid $accent;
    top: 5px;
    &::after {
      font-size: 10px;
    }
    &.swiper-button-disabled {
      opacity: 1;
      color: #8a8a8a;
      border-color: #8a8a8a;
    }    
  }
  .swiper-button-prev { 
    left: 0;
  }
  .swiper-button-nex {
    right: 0;
  }
  @include media-breakpoint-down(md){
    left: -20px;
  }
}
.slider-img {
  height: 100%;
  width: 75%;
  overflow: hidden;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .45);
    z-index: 2;
  }
  @include media-breakpoint-down(md){
    width: 100%;
  }
}
.slider-img__slide {
  height: 100%;
  overflow: hidden;
}
.slider-img__bg {
  height: 100%;
  background-position: center;
  background-size: cover;
}
.slider-text {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: calc(100% - #{$size});
  @include media-breakpoint-down(md){
    height: calc(100% - #{$size-sm});
  }
}
.slider-text__slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider-text__content {
  text-align: right;
  padding-right: 22%;
  @include media-breakpoint-down(md){
    padding-left: 20px;
  }
}
.slider-text__heading {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 120%;
  font-family: oswald-vh, sans-serif;
  max-width: 780px;
  float: right;
  clear: both;
  span {
    color: $accent;
    white-space: nowrap;
  }
  @include media-breakpoint-down(lg){
    font-size: 50px;
    max-width: 540px;
  }
  @include media-breakpoint-down(md){
    font-size: 28px;
  }
  @include media-breakpoint-down(sm){
    font-size: 22px;
    max-width: 300px;
  }
}
.slider-text__desc {
  float: right;
  clear: both;
  max-width: 500px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
  @include media-breakpoint-down(md){
    font-size: 12px;
  }
}
.slider-text__button {
  float: right;
  clear: both;
}

.slider-pagination {
  flex: 0 0 140px;
  display: flex;
  justify-content: center;
  height: $size;
  align-items: center;
  position: relative;
  .swiper-pagination-bullets{
    position: relative; 
    top: 0;//т.к. по умолчанию задано 10px???
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    opacity: 1;
    background-color: #fff;
    margin: 0 7.5px;
  }
  .swiper-pagination-bullet-active {
    background-color: $accent;
    position: relative;
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      border: 1px solid $accent;
      position: absolute;
      border-radius: 100%;
      top: -4px;
      left: -4px;
    }
  }
  @include media-breakpoint-down(md){
    height: $size-sm;
    display: none;
  }
}

.slider-pagination-count {
  position: absolute;
  right: 25px;
  top: 30px;
  z-index: 100;
  width: 120px;
  height: 80px;
  font-family: oswald-vh, sans-serif;
  font-weight: 500;
  font-size: 24px;
  .current {
    font-size: 40px;
    color: $accent;
    display: inline-block;
    min-width: 42px;
  }
  @include media-breakpoint-down(lg){
    top: 0;
    right: 0;
    transform: scale(.6);
  }
  @include media-breakpoint-down(md){
    display: none;
  }
}

.slider-gear {
  width: 470px;
  height: 470px;
  position: absolute;
  background-image: url('..//images/dist/gear.svg');
  block-size: cover;
  background-position: center;
  top: 50%;
  margin-top: -270px;
  z-index: 2;
  right: calc(24.15% - 235px);
  @include media-breakpoint-down(md){
    display: none;
  }
}

.slider-pagination-current {
  position: absolute;
  right: 40px;
  bottom: 10px;
  font-size: 100px;
  font-family: oswald-vh, sans-serif;
  color: $deep;
  -webkit-text-stroke: 1px #7f7f7f;
  .slider-pagination-current__dot {
    color: $accent;
    -webkit-text-stroke: 1px transparent;
  }
  @include media-breakpoint-down(lg){
    font-size: 50px;
    bottom: 0;
    right: 20px;
  }
}

